Complete the python code expositions discussed in Chapter 3-5 of your text book. Keep all
the source code in a three directories: 

Lab2Part1Ch3, Lab2Part1Ch4, Lab2Part1Ch5. This
looks like a lot, but it is a good way to learn a language, by doing it, and the code is available to you. If you
find any bugs please do write to the author.

Sometimes they have bug bounty to offer you. Be a good
software citizen. Now you are ready to do big data analytics using python programming language. Due date
3/14/2018

### 3.3.2 “Hello World” Script

In [11]:
print("hello world")

hello world

### 3.3.3 More Complicated Script

In [12]:
SALARY_RAISE_FACTOR = 0.05
STATE_CODE_MAP = {'WA':'Washington','TX':'Texas'}
def update_employee_record(rec):
 old_sal = rec['salary']
 new_sal = old_sal * (1 + SALARY_RAISE_FACTOR)
 rec['salary'] = new_sal
 state_code = rec['state_code']
 rec['state_name'] = STATE_CODE_MAP[state_code]
input_data = [
 {'employee_name': 'Susan', 'salary': 100000.0,
 'state_code': 'WA'},
 {'employee_name': 'Ellen', 'salary': 75000.0,
 'state_code': 'TX'},
]
for rec in input_data:
 update_employee_record(rec)
 name = rec['employee_name']
 salary = rec['salary']
 state = rec['state_name']
    
print(name + ' now lives in' + state)
print('and makes $' + str(salary))
    
# print("%(n)s now lives in %(s)s" % {'n': name, 's': state})
# print('and makes $' + str(salary))

Ellen now lives inTexas
and makes $78750.0

### 3.3.4 Atomic Data Types

In [10]:
my_integer = 2
my_other_integer = 2 + 3
my_float = 2.0
my_true_bool = True
my_false_bool = False
this_is_true = (0 < 100)
this_is_false = (0 > 100)

### 3.4 Strings

In [200]:
a_string = "hello"
same_as_previous = 'hello'
an_empty_string = ""
w_a_single_quote = "hello's"
multi_line_string = """line 1
line 2"""
print(multi_line_string )

line 1
line 2

In [24]:
"ABCD"[0]

'A'

In [16]:
"ABCD"[0:2]

'AB'

In [18]:
"ABCD"[1:3]

'BC'

In [26]:
 "ABCD"[0]

'A'

In [27]:
 "ABCD"[1:]

'BCD'

In [28]:
"ABCD"[:-1]

'ABC'

### 3.4.1 Comments and Docstrings

In [29]:
# This whole line is a comment
a = 5 # and the last part of this line is too

In [30]:
def sqr(x):
 "This function just squares its input "
 return x * x

### 3.4.2 Complex Data Types

In [31]:
my_list = ["a ", "b ", "c "]
my_set = set(my_list)
my_tuple = tuple(my_list)

In [34]:
my_set

{'a ', 'b ', 'c '}

In [35]:
my_tuple

('a ', 'b ', 'c ')

### 3.4.3 Lists

In [39]:
my_list = ["a ", "b ", "c "]
print( my_list[0:3])

['a ', 'b ', 'c ']

In [41]:
my_list[0] = "A " # changes that element of the list
my_list.append("d ") # adds new element to the end
# List elements can be ANYTHING
mixed_list = ["A ", 5.7, "B ", [1,2,3]]
mixed_list

['A ', 5.7, 'B ', [1, 2, 3]]

In [ ]:
original_list = [1,2,3,4,5,6,7,8]
squares = [x*x for x in original_list]

In [55]:
squares_of_evens = [x*x for x in original_list]

[1, 4, 9, 16, 25, 36, 49, 64]

In [56]:
my_list = ["a", "b", "c"]
first_two_elements = my_list[0:3]

In [57]:
my_list = ["a", "b", "c"]
first_two_elements = my_list[:3]
last_two_elements = my_list[1:]

In [65]:
my_list = ["a", "b", "c"]
first_two_elements = my_list[:3]
last_two_elements = my_list[1:]
my_list = ["a", "b", "c"]
all_but_last_element = my_list[:-1]
print(first_two_elements,last_two_elements,all_but_last_element)

['a', 'b', 'c'] ['b', 'c'] ['a', 'b']

### 3.4.4 Strings and Lists

In [68]:
"ABC DEF".split()

['ABC', 'DEF']

In [70]:
"ABC \tDEF".split()

['ABC', 'DEF']

In [71]:
 "ABC \tDEF".split(' ')

['ABC', '\tDEF']

In [72]:
 "ABCABD".split("AB")

['', 'C', 'D']

In [73]:
",".join(["A", "B", "C"])

'A,B,C'

In [74]:
 start, end, count_by = 1, 7, 2

In [75]:
"ABCDEFG"[start: end: count_by]

'BDF'

### 3.4.5 Tuples
 keys in a dictionary cannot be lists, but they
can be tuples

In [80]:
my_tuple = (1, 2, "hello world")
print(my_tuple[0]) # prints 1
my_tuple[1] # This will give an error!

1

2

In [ ]:
my_tuple = (1, 2)
zeroth_field, first_field = my_tuple

### 3.4.6 Dictionaries
values can be anything at
all – integers, other dictionaries, external libraries, etc

The namespace that stores all of your variables, for example, is a dictionary mapping the variables’ names to the objects themselves.

In [86]:
my_dict = {"January": 1, "February":2}
print(my_dict["January"]) # prints 1
my_dict["March"] = 3 # add new element
my_dict["January"] = "Start of the year" # overwrite old value

1

In [88]:
my_dict

{'February': 2, 'January': 'Start of the year', 'March': 3}

In [89]:
pairs = [("one",1), ("two",2)]
as_dict = dict(pairs)
same_as_pairs = as_dict.items()

In [90]:
same_as_pairs

dict_items([('one', 1), ('two', 2)])

### 3.4.7 Sets

In [91]:
 s = set()

In [92]:
5 in s

False

In [93]:
 s.add(5)

In [94]:
5 in s

True

In [100]:
s.add(5) # redundant

In [101]:
s.add(6)
6 in s

True

### 3.5 Defining Functions

In [107]:
def my_function(x):
    x=x+1
    x_sqrd=x*x
    return x_sqrd
five_plus_one_sqrd = my_function (5)
five_plus_one_sqrd

36

In [220]:
def raise_1(x, n=2):
    res = pow(x, n)
    return res

In [221]:
two_sqrd = raise_1(2,2)
print(two_sqrd)
two_cubed = raise_1(2, 3)
print(two_cubed)

RecursionError: maximum recursion depth exceeded

In [137]:
sqr = lambda x : x*x
five_sqrd = sqr(5)
five_sqrd

25

In [139]:
def apply_to_evens(a_list, a_func):
    return [a_func(x) for x in a_list if x%2==0]
my_list = [1,2,3,4,5]
sqrs_of_evens = apply_to_evens(my_list, lambda x:x*x)
sqrs_of_evens

[4, 16]

### 3.5.1 For Loops and Control Structures

In [140]:
my_list = [1, 2, 3]
for x in my_list:
    print("the number is ", x)

the number is  1
the number is  2
the number is  3

In [141]:
for key, value in my_dict.items():
    print("the value for ", key, " is ", value)

the value for  January  is  Start of the year
the value for  February  is  2
the value for  March  is  3

In [203]:
if i<3:
    print("i is less than three")
elif i<5: 
    print( "i is between 3 and 5")
else: 
    print( "i is greater than 5")

i is less than three

In [205]:
i = 0
while i < 5:
    i = i+1

### 3.5.2 A Few Key Functions

### 3.5.3 Exception Handling

In [149]:
try:
 lines = input_text.split("\n")
 print("tenth line was: ", lines[9])
except:
 print("There were < 10 lines")

There were < 10 lines

### 3.5.4 Libraries

In [151]:
# from my_lib import f1, f2 # f1 & f2 in namespace
# import other_lib as ol # ol.f1 is the f1 func
# from other_lib import * # f1 is in namespace

### 3.5.5 Classes and Objects

 __init__ is a special function that gets called whenever an instance of
the class is created. It does all of the initial setup required for the object.
 the “self” argument in respond_to_command refers to
fido himself, that is, the Dog object whose method is being called.

In [222]:
class Dog:
    def __init__(self, name):
         self.name = name
    def respond_to_command(self, command):
         if command == self.name: self.speak()
    def speak(self):
        print("bark bark!!")
fido = Dog("fido") # class object creation
fido.respond_to_command("spot") # does nothing
fido.respond_to_command("fido") # prints bark bark

bark bark!!

### 3.5.6 GOTCHA: Hashable and Unhashable Types

In [223]:
a = 5 # a is a hashable int
b = a # b points to a COPY of a

In [161]:
 a = a + 1
print(b)

5

In [164]:
A = [] # unhashable list 
B = A
A.append(5)
B

[5]

In [165]:
B = [x for x in A]

In [167]:
A = [{}, {}] # list of dicts
B = [x for x in A]
A[0]["name"] = "bob"
B[0]["name"]

'bob'

### 3.6 Python’s Technical Libraries

In [169]:
import pandas as pd
# Making data frame from a dictionary
# that maps column names to their values
df = pd.DataFrame({
"name": ["Bob", "Alex", "Janice"],
"age": [60, 25, 33]
})
# Reading a DataFrame from a file
# other_df = pd.read_csv(“myfile.csv”)
# Making new columns from old ones
# is really easy
df["age_plus_one"] = df["age"] + 1
df["age_times_two"] = 2 * df["age"]
df["age_squared"] = df["age"] * df["age"]
df["over_30"] = (df["age"] > 30) # this col is bools

In [171]:
# The columns have various built-in aggregate functions
total_age = df["age"].sum()
median_age = df["age"].quantile(0.5)
# You can select several rows of the DataFrame
# and make a new DataFrame out of them
df_below50 = df[df["age"] < 50]
# Apply a custom function to a column
df["age_squared"] = df["age"].apply(lambda x: x*x)

In [172]:
df = pd.DataFrame({
"name": ["Bob", "Alex", "Jane"],
"age": [60, 25, 33]
})

In [174]:
print(df.index) # prints 0‐2, the line numbers
# Create a DataFrame containing the same data,
# but where name is the index
df_w_name_as_ind = df.set_index("name")
print(df_w_name_as_ind.index) # prints their names
# Get the row for Bob
bobs_row = df_w_name_as_ind.ix["Bob"]
print(bobs_row["age"] ) # prints 60

RangeIndex(start=0, stop=3, step=1)
Index(['Bob', 'Alex', 'Jane'], dtype='object', name='name')
60

### 3.6.2 Series

In [224]:
# import Pandas
import pandas as pd
s = pd.Series([1,2,3]) # make Series from list
# display the values in s
# note index is to the far left
s

0    1
1    2
2    3
dtype: int64

In [225]:
 s+2

0    3
1    4
2    5
dtype: int64

In [226]:
 s.index

RangeIndex(start=0, stop=3, step=1)

In [227]:
 s + pd.Series([4,4,5])

0    5
1    6
2    8
dtype: int64

In [228]:
bobs_row = df_w_name_as_ind.ix["Bob"]

In [229]:
type(bobs_row)

pandas.core.series.Series

In [230]:
 bobs_row

age    60
Name: Bob, dtype: int64

### 3.6.3 Joining and Grouping

In [231]:
 df_w_age = pd.DataFrame({
"name": ["Tom", "Tyrell", "Claire"],
"age": [60, 25, 33]
})

In [232]:
 df_w_height = pd.DataFrame({
"name": ["Tom", "Tyrell", "Claire"],
"height": [6.2, 4.0, 5.5]
})

In [233]:
joined = df_w_age.set_index("name").join(
df_w_height.set_index("name"))
print(joined)

        age  height
name
Tom      60     6.2
Tyrell   25     4.0
Claire   33     5.5

In [236]:
print(joined.reset_index())

     name  age  height
0     Tom   60     6.2
1  Tyrell   25     4.0
2  Claire   33     5.5

In [237]:
 df = pd.DataFrame({
"name": ["Tom", "Tyrell", "Claire"],
"age": [60, 25, 33],
 "height": [6.2, 4.0, 5.5],
            "gender": ["M", "M", "F"]
})

In [238]:
 print(df.groupby("gender").mean())

         age  height
gender
F       33.0     5.5
M       42.5     5.1

In [239]:
 medians = df.groupby("gender").quantile(0.5)

In [240]:
def agg(ddf):
     return pd.Series({
     "name": max(ddf["name"]),
     "oldest": max(ddf["age"]),
     "mean_height": ddf["height"].mean()
     })
print( df.groupby("gender").apply(agg))

        mean_height    name  oldest
gender
F               5.5  Claire      33
M               5.1  Tyrell      60